[2020-03-12 19:38] danhellem opened #14 "Make link to issue part of related work with GitHub Issue icon"
append the AB#{workitemid} in the description to link the work item to the issue

[AB#5150](https://dev.azure.com/danhellem/9e4ade6f-32de-4a10-9926-8821c4d1673a/_workitems/edit/5150)

[2020-03-12 20:58] danhellem opened #13 "Handle unlabel action"
web hook to remove labels from work items if a label is removed from an issue

Azure Boards Work Item [AB#5149](https://dev.azure.com/danhellem/9e4ade6f-32de-4a10-9926-8821c4d1673a/_workitems/edit/5149)

[2020-03-12 20:59] danhellem opened #12 "Handle create label before submit button is clicked"
Need to handle when an issue is created, label is added and then the submit button is clicked

[AB#5148](https://dev.azure.com/danhellem/9e4ade6f-32de-4a10-9926-8821c4d1673a/_workitems/edit/5148)

[2020-03-12 22:12] danhellem opened #11 "GitHub Identity to Azure DevOps Mapping for setting ownership"
create a mapping file to map GitHub users to Azure DevOps users
make the file a json file that sits out in the repo

[AB#5147](https://dev.azure.com/danhellem/9e4ade6f-32de-4a10-9926-8821c4d1673a/_workitems/edit/5147)

[AB#310](https://dev.azure.com/privatepreview/5136ae2e-ad01-4fa4-b7e9-7550b8cdd2c3/_workitems/edit/310)

[2020-03-13 13:34] danhellem opened #10 "Add a PR work item to ADO Board when a PR is created"
- [ ] When PR is created
- [ ] When PR is completed

[2020-03-19 13:55] danhellem opened #3 "Test Issue "Hello World""
Testing Testing 1-2-3

[2020-03-24 17:11] danhellem commented on #3
Adding a comment for you bro

[2020-03-24 18:21] danhellem opened #6 "Add GitHub user to history message when opening, reopening, and closing issue"
[AB#707](https://dev.azure.com/privatepreview/5136ae2e-ad01-4fa4-b7e9-7550b8cdd2c3/_workitems/edit/707)

[2020-03-24 18:31] #3 closed

[2020-03-24 19:16] danhellem opened #7 "temp"

[2020-03-24 19:17] #7 closed

[2020-03-24 19:25] danhellem opened #8 "Add env setting for default area path"
[AB#5144](https://dev.azure.com/danhellem/9e4ade6f-32de-4a10-9926-8821c4d1673a/_workitems/edit/5144)

[2020-03-24 19:28] danhellem opened #9 "Add rules bypass flags on create and updates"
Azure Boards Work Item [AB#5145](https://dev.azure.com/danhellem/9e4ade6f-32de-4a10-9926-8821c4d1673a/_workitems/edit/5145)

[2020-03-24 19:35] danhellem opened #15 "SPIKE: Gracefully handle transfer between projects"
when you transfer from one repo to another, and both projects are linked to the same ADO project, can you update existing ADO work item?

[AB#5151](https://dev.azure.com/danhellem/9e4ade6f-32de-4a10-9926-8821c4d1673a/_workitems/edit/5151)

[AB#311](https://dev.azure.com/privatepreview/5136ae2e-ad01-4fa4-b7e9-7550b8cdd2c3/_workitems/edit/311)

[AB#312](https://dev.azure.com/privatepreview/5136ae2e-

[2020-03-25 18:00] danhellem opened #16 "Use tags on issue to create work item types"
create an issue with the tag "Epic" or "Bug". Use that tag to create the work item type in Azure Boards

[AB#5152](https://dev.azure.com/danhellem/9e4ade6f-32de-4a10-9926-8821c4d1673a/_workitems/edit/5152)

[2020-03-26 13:24] danhellem commented on #8
AB#5144

[2020-03-26 13:28] danhellem commented on #14
AB#5150

[2020-03-26 23:29] danhellem opened #17 "Handle rename of issue"
[AB#5153](https://dev.azure.com/danhellem/9e4ade6f-32de-4a10-9926-8821c4d1673a/_workitems/edit/5153)

[AB#375](https://dev.azure.com/privatepreview/5136ae2e-ad01-4fa4-b7e9-7550b8cdd2c3/_workitems/edit/375)

[2020-04-01 14:08] #9 closed

[2020-04-01 14:57] #8 closed

[2020-04-08 14:13] #13 closed

[2020-04-10 18:41] danhellem opened #21 "Refer an issue to PR, have it automatically link to a AB work item"
[AB#344](https://dev.azure.com/privatepreview/5136ae2e-ad01-4fa4-b7e9-7550b8cdd2c3/_workitems/edit/344)

[2020-04-10 18:52] danhellem commented on #10
may be able to do this via a separate action?

[2020-04-13 16:05] danhellem opened #22 "Demo Issue"
This is a test

[2020-04-13 16:08] #22 closed

[2020-04-13 16:25] danhellem opened #23 "Demo Issue"

[2020-04-13 17:32] #23 closed

[2020-04-16 17:30] #14 closed

[2020-04-16 17:32] #10 closed

[2020-04-16 17:36] danhellem opened #25 "Convert project to TypeScript"
JavaScript is getting hard to read and manage. Lets convert this to TypScript

[AB#5267](https://dev.azure.com/danhellem/9e4ade6f-32de-4a10-9926-8821c4d1673a/_workitems/edit/5267)

[2020-04-16 18:01] danhellem opened #26 "Filter out any events from bot sender"
[code]
See if we can filter out any events from a specific send and or type.

[AB#5268](https://dev.azure.com/danhellem/9e4ade6f-32de-4a10-9926-8821c4d1673a/_workitems/edit/5268)

[AB#313](https://dev.azure.com/privatepreview/5136ae2e-ad01-4fa4-b7e9-7550b8cdd2c3/_workitems/edit/313)

[2020-04-17 18:18] danhellem opened #27 "Make bypass rules flag an optional env setting"
Some customers don't like having to give the PAT owner Bypass rules permissions. So lets make it an optional item that is set in the yaml file. Default to false.

[AB#5269](https://dev.azure.com/danhellem/9e4ade6f-32de-4a10-9926-8821c4d1673a/_workitems/edit/5269)

[2020-04-19 20:31] SpookySystems opened #28 "Struggling to config"
Hi all,
Can someone help me to configure this but keep getting _Failed request: (401)_ please.
I have given the full access to the token and selected all organizations. Still I'm hitting with above error.

Below is my work flow file:

[code]

[AB#5270](https://dev.azure.com/danhellem/9e4ade6f-32de-4a10-9926-8821c4d1673a/_workitems/edit/5270)

[2020-04-20 07:27] dineshsenthil95 commented on #28
I too have this issue. can anyone please help here.

[2020-04-22 13:28] danhellem commented on #28
Make sure that you are in fact using the "Issue" work item type and it has a To Do and Done state. In the example my projects are using the "Basic" process. If you are using Agile then I would recommend you change it to use "User Story" with "New" and "Closed"

If you still have trouble let me know

[2020-04-22 13:34] danhellem commented on #28
Also, you may be running into an issue with the bypass rules. If the account creating the PAT does not have bypassrules permissions, it will fail.

I am fixing that issue (#27) this moring

[2020-04-22 13:58] #27 closed

[2020-04-22 14:02] danhellem commented on #28
Latest code has been pushed

[2020-04-23 11:45] dineshsenthil95 commented on #28
Hi Dan,

I have made required changes in yml file, still i am getting Failed request: (401) error message

My ADO project is using Agile Process.

Please find below error.

![errn](https://user-images.githubusercontent.com/62136739/80095670-ee194700-8585-11ea-82c4-6f6e0fcb8501.png)

Thanks.

[2020-04-23 13:05] danhellem commented on #28
@dineshsenthil95 can you verify your token has read/write/modify permissions on work items?

[2020-04-23 17:21] kaumudpa opened #31 "Getting error! `##[error]Cannot read property 'id' of null`"
I keep getting this error
`##[error]Cannot read property 'id' of null`

<img width="426" alt="Screenshot 2020-04-23 at 10 49 45 PM" src="https://user-images.githubusercontent.com/13520180/80129555-da390980-85b4-11ea-9a5f-f1a066a039a1.png">

[AB#5271](https://dev.azure.com/danhellem/9e4ade6f-32de-4a10-9926-8821c4d1673a/_workitems/edit/5271)

[2020-04-23 20:48] kaumudpa commented on #31
I figured it out.

[2020-04-23 20:48] #31 closed

[2020-04-24 08:34] dineshsenthil95 commented on #28
@danhellem I verified the PAT token's permission by running a console application to read, update and create a work items in ADO. It works as expected. Please help me with config here. Thanks.

[2020-04-24 13:06] danhellem commented on #28
@dineshsenthil95 your config looks correct other than missing ' around the values. There must be some other issue here. I will add an issue to do some better error logging to help us get to the root of the problem

[2020-04-24 13:06] danhellem opened #32 "Add better error logging to help debug failures"
related to #28

[AB#5272](https://dev.azure.com/danhellem/9e4ade6f-32de-4a10-9926-8821c4d1673a/_workitems/edit/5272)

[2020-04-24 13:09] danhellem opened #33 "Handle re-open and comment action"
handle the re-open and comment of a closed issue.

[AB#358](https://dev.azure.com/privatepreview/5136ae2e-ad01-4fa4-b7e9-7550b8cdd2c3/_workitems/edit/358)

[2020-04-24 23:40] SpookySystems commented on #28
Hi @danhellem,

I have given the full access permission (in DevOps) in case I might miss something. But it's the same.
It's a basic (standard) project and no modifications.

On https://github.com/danhellem/github-actions-issue-to-work-item/issues/28#issue-602812959 I have posted the exact workflow (except the organization and project names). Am I doing something wrong in that workflow please?

[2020-04-24 23:56] danhellem commented on #28
@SpookySystems if you are using the agile template, try using the user story wit instead.

I am going o add some better error handling to the project next week to help us figure it out

[2020-04-25 00:02] SpookySystems commented on #28
Hi @danhellem,

I don't think I'm using agile. This is my project looks like.
![image](https://user-images.githubusercontent.com/11091927/80265622-11c8b400-8690-11ea-8ee7-320b33267dc4.png)

If I'm correct, I'm using the same statuses in the workflow.

Looking forward to that feature. Thank you.

[2020-04-25 00:03] danhellem commented on #28
You are probably using the basic process. That’s good.

Let me add som me logging and let’s go from there

[2020-04-27 15:03] #32 closed

[2020-04-27 15:05] danhellem commented on #28
@SpookySystems @dineshsenthil95 try it now but reference

danhellem/github-actions-issue-to-work-item@master

I have not released the changes yet. Let me know if that helps you debug the problem

[2020-04-28 12:21] SpookySystems commented on #28
Hi @danhellem,

Thank you for adding error logs. I have found one issue in there (please see the log below).

![image](https://user-images.githubusercontent.com/11091927/80486406-0527b280-8953-11ea-9d45-664648f7a927.png)

[2020-04-28 12:57] danhellem commented on #28
@SpookySystems I will take a look. You should also check the error on line 15. I suspect that is the connection issues

[2020-04-28 14:51] danhellem opened #35 "Spec for PR setting states on close"

[2020-04-28 20:49] danhellem commented on #28
@SpookySystems any chance you can turn on your web hooks and send me a web hook payload for when an issue is created? There may be something in there that is not being handled correctly.

[2020-04-28 21:30] danhellem opened #36 "Error in action when re-opening an issue"
Sample payload

[reopen.txt](https://github.com/danhellem/github-actions-issue-to-work-item/files/4548595/reopen.txt)

related to issue #28

[AB#5275](https://dev.azure.com/danhellem/9e4ade6f-32de-4a10-9926-8821c4d1673a/_workitems/edit/5275)

[2020-04-28 21:31] danhellem commented on #28
@SpookySystems I was able to get the same error on a reopen issue action. I created a bug #36 to get fixed. Please use that issue moving forward.

[2020-04-28 21:31] #28 closed

[2020-04-30 08:17] SBajonczak opened #37 "Bugs with Richtext will be created with plain text."
When I create a Bug with Richtext (images and formatted text).
This will not correctly transfered.

The complete input will be created as plaintext.
Maybe it will be possible to get the Richtext body from Github to AzureDevops?

[AB#296](https://dev.azure.com/privatepreview/5136ae2e-ad01-4fa4-b7e9-7550b8cdd2c3/_workitems/edit/296)

[2020-04-30 18:51] SpookySystems commented on #28
Thank you @danhellem. I'll move in to #36 if I find any issues.

[2020-05-01 16:11] #36 closed

[2020-05-01 16:12] danhellem commented on #37
@SBajonczak are you referring to the description or discussion?

[2020-05-01 16:33] SBajonczak commented on #37
Hi I speak about the description.

Gesendet von Outlook Mobile<https://aka.ms/blhgte>

________________________________
From: Dan Hellem <notifications@github.com>
Sent: Friday, May 1, 2020 6:12:34 PM
To: danhellem/github-actions-issue-to-work-item <github-actions-issue-to-work-item@noreply.github.com>
Cc: Sascha Bajonczak <xbeejayx@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [

[2020-05-20 05:19] sheldonhull opened #40 "Iteration Path"
Is it possible to set iteration path?
Right now i have `team/active` and this means the issues are hidden from site, as it sets to `team` only on the iteration, not the default team iteration for the backlog.

AB#5277

[AB#419](https://dev.azure.com/privatepreview/5136ae2e-ad01-4fa4-b7e9-7550b8cdd2c3/_workitems/edit/419)

[2020-05-21 19:58] danhellem commented on #40
@sheldonhull iteration paths change too often. How would you set the path when the work item is created without having to edit the YAML every time? use @Current?

[2020-05-21 23:44] sheldonhull commented on #40
Yes, @CurrentIteration is what I was thinking, or at least allowing it to be set.
in my case we have

[code]

The default is `devops/active` as the backlog iteration for the team to ensure the archived content doesn't clutter up reports and all. I would like be able to provide that OR `@CurrentIteration` for example. The current iteration changes often, but there is often a default iteration for t

[2020-05-23 15:11] radiant-alex opened #41 "Error on most of issues"
Added issue and got

`Set values from payload & env
Check to see if work item already exists
Error: Connecting to organization. Check the spelling of the organization name and ensure your token is scoped correctly.
(node:2748) UnhandledPromiseRejectionWarning: TypeError: (s || "").replace is not a function
    at escapeData (/home/runner/work/_actions/danhellem/github-actions-issue-to-work-item/ma

[2020-05-26 19:37] danhellem commented on #40
@sheldonhull I appreciate the request but I think i am going to keep it as is for now. Feel free to fork and use as you see fit for your own needs

[2020-05-26 19:38] danhellem commented on #41
Most likely your organization is not correct or your token is not scoped correctly.

[2020-05-26 19:38] #41 closed

[2020-06-09 18:07] dan-miller opened #42 "Existing issues do not sync"
We have many issues in our organization's repositories that we'd really like to sync with Azure Boards, but I want to avoid manually creating work items for all of them.

It appears that the workflow simply ignores existing issues that are not already linked to Azure Boards work items, unless I am missing something.

AB#5279

[2020-06-12 17:06] danhellem commented on #42
Hey Dan,

Yeah it using the #mention in the title of the work item to sync. Not the link.

[2020-06-12 17:06] #42 closed

[2020-06-30 16:03] dan-miller commented on #16
Would this also handle changing the work item type if the tag is changed? For example if something we initially thought was a Bug is actually a User Story or Feature, it would be great if the tag change would cause the work item type to change.

[2020-07-01 14:35] danhellem commented on #16
@dan-miller I like the suggestion!

[2020-07-28 20:03] danhellem opened #45 "updateWorkItem failed"
Bug with handling of replace. testing

![image](https://user-images.githubusercontent.com/10525048/88715538-b6fd8900-d0d2-11ea-9218-e1aea5010879.png)

[2020-08-06 20:40] danhellem commented on #45
The issue was actually because a token expired so live test failed. Need to put in some better handling and checking at some point

[2020-08-06 20:40] #45 closed

[2020-08-10 13:18] danhellem commented on #37
@SBajonczak the problem with this is that Azure Boards using HTML and GitHub uses markdown. So the translation is going to be difficult. I am am going to mark this as "Enhancement" and see if it continues to come up. It would be a decent chunk of work to try and go fix.

[2020-08-10 13:34] #11 closed

[2020-08-10 13:36] danhellem commented on #26
This should be fixed now. Will mark as resolved and do some testing before releasing

[2020-08-10 13:40] danhellem opened #49 "Adding and Removing labels creates duplicate work items"
When you add remove labels, it can create duplicate work items. Something is broken with the create logic that is not taking into account the label changes

[AB#314](https://dev.azure.com/privatepreview/5136ae2e-ad01-4fa4-b7e9-7550b8cdd2c3/_workitems/edit/314)

[2020-08-24 19:34] danhellem commented on #15
not going to implement

[2020-08-24 19:34] #15 closed

[2020-08-24 19:34] danhellem commented on #15
not going to implement

[2020-09-01 19:58] #49 closed

[2020-09-01 20:19] #33 closed

[2020-09-01 20:28] #26 closed

[2020-09-09 12:59] #21 closed

[2020-09-16 18:39] danhellem opened #55 "Create an issue on dependabot and security alerts"
create a work item in azure boards for when a dependabot or security alert happens

[AB#378](https://dev.azure.com/privatepreview/5136ae2e-ad01-4fa4-b7e9-7550b8cdd2c3/_workitems/edit/378)

[2020-10-06 19:19] danhellem commented on #16
@dan-miller i am going to close this issue. Too much complexity here.

[2020-10-06 19:19] #16 closed

[2020-10-07 04:58] n3wt0n opened #57 "Sync Comments into Discussions"
Would be great if we can sync Issue comments into AzDO Boards Discussion.

Any thought about it?

[AB#5434](https://dev.azure.com/danhellem/56243fe6-2ed4-4398-acde-6a289bc1d89a/_workitems/edit/5434)

[2020-10-14 12:18] danhellem commented on #57
@n3wt0n right now i believe it posts the comment when the comment starts in the Issue. Is that not the case for you?

[2020-10-15 00:11] n3wt0n commented on #57
Hi @danhellem yes now it appears to work... Not sure why but when I've tried before it didn't create the comment in AzDO.

So I'd say this is working now :)

There is only a small formatting issue now, there is a new line too many:

![image](https://user-images.githubusercontent.com/13121206/96058537-10997680-0ebe-11eb-9c92-77e578dd0d5c.png)

[2020-10-15 13:01] danhellem commented on #57
Cool...I will fix that formatting issue

[2020-10-16 12:48] Mr-PatKing opened #58 "Azure DevOps to GitHub sync"
If an issue is created in GitHub and synced to Azure DevOps, do you know if there is a way to update the Issue when a change is made to the synced item in AZDO?

[AB#415](https://dev.azure.com/privatepreview/5136ae2e-ad01-4fa4-b7e9-7550b8cdd2c3/_workitems/edit/415)

[2020-10-20 16:55] sheldonhull commented on #40
@danhellem follow-up on this. If there is a multi-team project, which I believe is a common practice in larger orgs, this means I can't ensure it shows up on a backlog board. It will just show up in a list, but not on the default backlog.

Had trouble the last attempt, so will revisit soon. Here's my main question.

Is it as simple as adding a new entry here:

https://github.com/danhellem/github-a

[2020-10-20 17:01] danhellem commented on #40
@sheldonhull assigning to an area path is already in action now. I don't have plans to add a archived area path. If you want to use that, then you will need to run that on your own action.

https://github.com/danhellem/github-actions-issue-to-work-item/blob/master/index.js#L163

[2020-10-20 17:07] sheldonhull commented on #40
https://github.com/sheldonhull/github-actions-issue-to-work-item

Sorry, I meant iteration. This is a standard setting for a team to assign as the iteration path can be different for every team in a project. Right now it doesn't get set.

I am ready to give you a PR with IterationPath as an input for your review if you willing to consider that. Would like others to be able to use and not maintain

[2020-10-20 17:33] danhellem commented on #40
@sheldonhull i would support a default iteration path

[2020-10-20 17:46] sheldonhull commented on #40
I'm testing now and once I get it working I'll submit. thank you!

[2020-10-20 17:58] sheldonhull commented on #40
I'm trying to get it to work, but getting this error. I'm probably doing something silly but not seeing it. The area path is correctly set to

[code]

The error is below. Is there some escaping issue or something else relevant you think?

EDIT: WHOOPS. It's in the main readme.

[code]

[2020-10-20 18:51] sheldonhull commented on #40
Ok,it's working. I had single quotes as well instead of double quotes.
Let me know if this is acceptable. This should put in the correct iteration path now. I feel like a javascript master now :-)

[2020-10-30 19:44] amenocal opened #59 "TypeError with New Issue, but Item is created in Azure DevOps"
I tried to look for the answer in previous issues. The closest one was #41, but it wasn't exactly the same.

I am able to trigger the action, and it creates the item in my backlog. However, when issues is opened the actions fails with the  logs below. However, if I close the issue or edit it, the actions runs perfectly fine and doesn't fail.

Error Logs:
[code]

This is is how I have it setup:
[co

[2020-11-03 17:59] danhellem commented on #59
i am guessing it is caused by a bad area path

[2020-11-03 17:59] #59 closed

[2020-11-03 18:00] danhellem commented on #58
not currently. You would need to use web hooks and rest api's to push the data back from ADO to GitHub.

This is one of the downsides to this action. It's really only a one way sync :(

[2020-11-03 18:00] #58 closed

[2020-11-03 18:29] danhellem commented on #57
this looks like an issue with the ADO API. I am not setting any line breaks before the save

[2020-11-03 18:41] #40 closed

[2020-11-04 19:30] amenocal commented on #59
@danhellem yeah in my experience nested area paths make the action error out for some reason. I couldn't find any other reason on why it would fail as the item is created in the nested area paths(which I think it means the area path exists) and then errors out.

ado_area_path: "area" -> works fine
ado_area_path: "area\\subarea" -> errors out

[2020-12-09 16:53] Msanzdelrio opened #61 "Random error on execution"
I am having the following error when trying to execute the action:
![image](https://user-images.githubusercontent.com/37813342/101660316-53537700-3a47-11eb-95ce-ae29f3021f43.png)

Action configuration is:

    - uses: danhellem/github-actions-issue-to-work-item@master
      env:
        ado_token: '${{ secrets.ADO_PAT }}'
        github_token: '${{ secrets.REPO_ACCESS_TOKEN }}'
        ado_organiz

[2020-12-09 17:17] danhellem commented on #61
This is most likely caused by an invalid token, toke scope, or organization name

I have not been able to pinpoint catching those errors better. So if you have some ideas feel free to create a PR

[2020-12-09 17:17] #12 closed

[2020-12-09 17:28] Msanzdelrio commented on #61
Does the action accept dashes as part of the organization name? like: azure-devops-organization?

[2020-12-09 18:09] danhellem commented on #61
yeah it should support dashes in the org name. But to be honest I have not tested that.

[2020-12-09 19:12] Msanzdelrio commented on #61
@danhellem  do the organization/project need any special format? or is it just the name? I have testes with organizatiion/project with no special characters, just letters, but still its not working

[2020-12-09 20:12] danhellem commented on #61
@Msanzdelrio yeah you just need the project name and org name. Check and make sure the Bug WIT is correct with those correct states. If you are still stuck, i am happy to debug with you if you can add me to your org/project for testing

[2020-12-13 16:36] danhellem commented on #61
@Msanzdelrio did you get this figured out?

[2020-12-14 12:56] Blackbaud-DanMiller opened #63 "Allow specification of alternative to "Description" field"
Our Bug work items do not have a Description field (we have Repro Steps and System Info). It appears that this workflow assumes that the target work item uses the System.Description field, so we wind up not getting the bodies of the issues copied to our Bugs.

[AB#708](https://dev.azure.com/privatepreview/5136ae2e-ad01-4fa4-b7e9-7550b8cdd2c3/_workitems/edit/708)

[2020-12-14 13:59] Msanzdelrio commented on #61
Hi!

Yes I fixed it! Not sure how, I recreated every PAT and it worked! Thank
you!! 😊
El El dom, 13 dic 2020 a las 17:36, Dan Hellem <notifications@github.com>
escribió:

[2020-12-15 16:15] danhellem commented on #63
@Blackbaud-DanMiller okay. I will see if I can add the system info field to the patch document even if the field does not exist. If that works i will go ahead and fix this. If it it throws an error then i will probably punt it and ask you to go fork the code and update it to fit your needs.

[2020-12-15 16:16] danhellem commented on #61
@Msanzdelrio great. That is usually the case or sometimes a typo in the org or project. Glad you got it working!

[2020-12-15 16:16] #61 closed

[2020-12-18 07:12] maxisam commented on #57
It seems like it doesn't work now.

[2020-12-21 20:30] danhellem commented on #57
@maxisam

What does that mean? not getting any comments at all to show up in ADO?

[2020-12-21 20:56] maxisam commented on #57
yeah, that is what happens to me. Does it work for you?

[2020-12-22 14:04] danhellem commented on #57
@maxisam yes it works fine. I will double check it later this week though

[2020-12-22 15:21] maxisam commented on #57
The action workflow never gets trigger for comment.

Should I add something like issue_comment:  types: [created, edited]

[2020-12-22 15:27] maxisam commented on #57
ok, it works with issue_comment trigger, should we update readme?

[code]

[2020-12-28 18:10] RheaPatel opened #64 "Syncing all actions in GitHub (such as PRs)"
This is a bug we are experiencing.
Any action made on GitHub such as a PR - is getting recorded as a user story in Azure DevOps.

[AB#709](https://dev.azure.com/privatepreview/5136ae2e-ad01-4fa4-b7e9-7550b8cdd2c3/_workitems/edit/709)

[2020-12-29 15:13] danhellem commented on #64
You will need to check the settings in the workflow file. The default in the readme.md is setting it to "User Story". But you can create your own custom work item type and use that instead of User Stories. Example

![image](https://user-images.githubusercontent.com/10525048/103293754-53d79180-49a5-11eb-99ed-5e1a071f6650.png)

[2020-12-29 15:13] #64 closed

[2020-12-30 20:43] #63 closed

[2020-12-30 21:10] danhellem commented on #57
The issue here is that comments by themselves fire a different web hook event. This action is currently only tracking the issue event, not the issue_comment event. So as long as you make a comment change with another change it will work. But if you do a comment change on it's own it won't work.

I will keep this open and update the code in a week or two to handle the issue_comment event

[2020-12-30 21:15] danhellem opened #67 "Testing"
[AB#712](https://dev.azure.com/privatepreview/5136ae2e-ad01-4fa4-b7e9-7550b8cdd2c3/_workitems/edit/712)

[2020-12-30 21:15] danhellem commented on #67
Close with Comment

[2020-12-30 21:17] danhellem commented on #67
comment

[2020-12-30 21:35] #67 closed

[2020-12-30 21:36] danhellem opened #69 "Handle line breaks better between Issue and work items"
Right now there are no line breaks when saving the work item. So formatting is horrible.

[AB#5436](https://dev.azure.com/danhellem/56243fe6-2ed4-4398-acde-6a289bc1d89a/_workitems/edit/5436)

[2020-12-30 21:37] #25 closed

[2020-12-30 21:37] danhellem commented on #25
Not going to spend the time on this anytime soon. Closing it out

[2020-12-30 21:38] danhellem commented on #6
This is done in main.

[2020-12-30 21:38] #6 closed

[2021-01-04 20:15] RheaPatel commented on #64
So sorry the problem is that I don't want Pull Requests to be synced to ADO I only require issues to sync across
Are there any solutions for this? @danhellem

[2021-01-05 00:24] danhellem commented on #64
@RheaPatel yes. This action does not sync PR's. My other extension does. Just follow the steps in the readme.md

And check to make sure the other action is not installed.

[2021-01-06 12:51] bakhshir opened #70 "Issues with labels"
Submitting an issue with a label, like shown in the demo, will create two items on the DevOps board, one without label and one with the label. Both will refer to the correct GitHub, but only one of them (with the label) will be synchronized by the GitHub actions.

[AB#5422](https://dev.azure.com/danhellem/56243fe6-2ed4-4398-acde-6a289bc1d89a/_workitems/edit/5422)

[2021-01-11 14:12] danhellem commented on #70
@bakhshir how are you creating the issue. Are you creating it then adding a label? Or adding the label and then saving the Issue?

[2021-01-11 15:29] bakhshir commented on #70
I tried both:

1) creating an issue without label, saving it, and after sync with the devops board, adding a label. That works without issue.

2) creating an issue with a label leads to a bug: two work items corresponding to the issue will appear on the devops board after  synchronization (with the label and without). If i close the issue on the github side, the work item with the label will be "c

[2021-01-12 15:21] pavelhorak opened #71 "TypeError: (s || "").replace is not a function"
Trying Action in our [workflow](https://github.com/microsoft/vstest/blob/master/.github/workflows/AzureDevOps.yml) and getting following [error](https://github.com/microsoft/vstest/runs/1688612141?check_suite_focus=true):
[code]

[AB#717](https://dev.azure.com/privatepreview/5136ae2e-ad01-4fa4-b7e9-7550b8cdd2c3/_workitems/edit/717)

[2021-01-13 16:11] danhellem commented on #70
ok yeah that makes sense. The problem here is that when you add a label while creating an issue, the issue is not yet really created. So it caught in a odd situation. I will see try and reproduce this to see if there is a way to ignore the label add until the issue is actually created.

[2021-01-13 16:21] danhellem commented on #71
This is mostly likely caused buy a bad configuration like a bad state, project, work item type. I need to put in some better error handling :(

[2021-01-13 16:23] danhellem commented on #71
@pavelhorak find me on MS Teams and we can look at this together. dahellem

[2021-01-14 16:20] Msanzdelrio commented on #71
I'm facing the same issue.. Already contacted you in teams :) (masanzde)

[2021-01-15 19:45] pavelhorak commented on #71
I found out that at the end action creates Azure DevOps work item, if doesn't exist. It just reports error. However, if work item exists, action updates is just fine and reports no error.

[2021-01-18 10:33] pavelhorak commented on #71
I fixed the error in my repo. I opened [PR](https://github.com/danhellem/github-actions-issue-to-work-item/pull/72). I also had to [Authorise personal access token for use with SAML single sign-on](https://docs.github.com/en/github/authenticating-to-github/authorizing-a-personal-access-token-for-use-with-saml-single-sign-on) for the organisation.

It'd be worth mentioning it [readme](https://githu

[2021-01-20 20:42] danhellem commented on #71
@pavelhorak ok great. I will take a look this week. Thanks for your help

[2021-01-20 20:48] #71 closed

[2021-02-10 17:54] praveenapuri opened #73 "How can we use this action without Azure Boards App in our local GHE Server."
We are using GitHub Enterprise server and don't have Marketplace to install the Azure Boards App. Is there any way we use this action without Azure Boards App installed.

Appreciate your time.

[AB#718](https://dev.azure.com/privatepreview/5136ae2e-ad01-4fa4-b7e9-7550b8cdd2c3/_workitems/edit/718)

[2021-02-11 20:05] danhellem commented on #73
i don't know if GHE supports access tokens. So i don't think it is going to be supported :(

[2021-02-11 20:05] #73 closed

[2021-02-11 22:00] praveenapuri commented on #73
Yes, it does support access tokens

On Thu, Feb 11, 2021 at 3:05 PM Dan Hellem <notifications@github.com> wrote:

[2021-03-17 09:14] pacroy commented on #71
Is this issue already solved? I still face this problem today. As investigated, all work items created since Mar 12 got this issue. Those created before Mar 8 do not have this issue.

The error is the same and the symptom is exactly what @pavelhorak described in https://github.com/danhellem/github-actions-issue-to-work-item/issues/71#issuecomment-761161801

Also, I found that the linkage is not cr

[2021-03-17 14:16] danhellem commented on #71
The issue is usually because of a invalid token or project name. The linkage works but you need to have the  Azure Boards app installed. it uses that bot to do the linking.

https://github.com/marketplace/azure-boards

[2021-03-19 06:18] pacroy commented on #71
@danhellem Thanks for response. I found the root cause now. The account that we use to generate the token does not have `Write` permission to the repo. After add `Write` permission, everything backs working like before. 😄

PS: Tried with `Read` and `Triage` but didn't work. It must be at least `Write` permission.

[2021-03-19 15:50] danhellem commented on #71
@pacroy yeah you need write permissions as it is creating and updating work items. I am pretty sure that is in the readme.md. if not, i will get it updated.

[2021-04-09 09:10] sandeepmalu opened #74 "reflect github username in Azure board on sync with github actions issue"
[AB#719](https://dev.azure.com/privatepreview/5136ae2e-ad01-4fa4-b7e9-7550b8cdd2c3/_workitems/edit/719)

[2021-04-13 13:53] danhellem commented on #74
@sandeepmalu can you add some details to the description? I will go ahead and look at this over the next few days.

[2021-04-15 13:34] sandeepmalu commented on #74
When an issue is created on github by any "user" in an organization repository, It should reflect that "user_name" on all attributes of Azure board issue irrespective of whose AZURE_PAT is used.

[2021-04-21 22:40] Grenston commented on #55
Hey I was just thinking. Dependabot has the capability to automatically raise a pull request in github, and you already have an action to create a work item in Azure Boards when a pr is raised. This way you will be able to track dependency alerts too.

[2021-04-22 13:38] danhellem commented on #55
Closing this out, not going to add this enhancement anytime soon

[2021-04-22 13:38] #55 closed

[2021-04-23 19:26] danhellem commented on #74
@sandeepmalu go ahead and get the latest and give it a try. If the bypassrules are turned on, then it will use the sender.user.login value for the person who created the issue

[2021-04-23 19:26] #74 closed

[2021-04-27 14:04] danhellem commented on #57
Picking this back up and added to my to-do list to get done in the next couple of weeks

[2021-04-29 07:03] dainnielnoahlopez opened #76 "Failed Sync"
![image](https://user-images.githubusercontent.com/79292516/116513318-f83df600-a8fb-11eb-9e18-00dbe5fd057c.png)

Can you tell me what to do here? I'm no good at coding, Sorry

[AB#720](https://dev.azure.com/privatepreview/5136ae2e-ad01-4fa4-b7e9-7550b8cdd2c3/_workitems/edit/720)

[2021-04-30 18:57] mhamilton723 opened #77 "Add Parent Link and Tags option"
Hey wondering if its possible to add Parent issue links and tags to this action. Thanks!

[AB#721](https://dev.azure.com/privatepreview/5136ae2e-ad01-4fa4-b7e9-7550b8cdd2c3/_workitems/edit/721)

[2021-05-03 04:04] mhamilton723 commented on #77
Closed as we discussed this already

[2021-05-03 04:04] #77 closed

[2021-05-03 04:08] ylr-research opened #78 "401 when a new issue is create in GH"
@danhellem I followed the steps as per the configuration guide and I just got this error. Should be something easy but I can't find out what it is.

![image](https://user-images.githubusercontent.com/63487874/116840415-b59e4700-aba3-11eb-8040-a330bd177bbf.png)

[AB#722](https://dev.azure.com/privatepreview/5136ae2e-ad01-4fa4-b7e9-7550b8cdd2c3/_workitems/edit/722)

[2021-05-05 01:34] ylr-research commented on #78
Never mind, I had an old token

[2021-05-05 01:34] #78 closed

[2021-05-05 20:05] danhellem commented on #78
yeah these are usually because of a bad token or typo in the org or project name

[2021-05-05 20:07] danhellem commented on #76
@dainnielnoahlopez check and make sure your env variables are correct. Are you using User Stories or PBI's?

[2021-05-20 14:59] James-LeHa commented on #70
I've experienced the same issue.

[2021-05-20 16:15] danhellem commented on #70
@James-LeHa  yeah I moved to another team so I have not made these changes are priority. I will keep it open, feel free to help and contribute.

[2021-05-20 16:15] #76 closed

[2021-05-25 23:23] AaronCrawfis commented on #37
Would also love to see this, as we use Markdown in our GitHub issues. Would be cool to plug in a markdown renderer like https://github.com/markdown-it/markdown-it into the flow to automatically render the HTML and then paste that as the DevOps work item description.

[2021-05-26 18:02] danhellem commented on #37
@AaronCrawfis  feel free to contribute your suggestion. Sadly I have moved on to a new team and not actively adding new features to this right now.

[2021-05-27 12:59] philcart opened #80 "Sync only particular labels"
Hi

Just wondering if this could be setup to only sync specific labels with ADO?

Cheers
Phil

[AB#723](https://dev.azure.com/privatepreview/5136ae2e-ad01-4fa4-b7e9-7550b8cdd2c3/_workitems/edit/723)

[2021-05-27 18:28] danhellem commented on #80
@philcart as in, only create work items where label = "Foo"?

[2021-05-27 23:37] philcart commented on #80
@danhellem yeh, that's essentially what we're looking to do. The GitHub issues are currently being used as discussion points, often with no development/technical impact. Once the discussion reaches a certain point a DevOps work item is manually created.

[2021-05-28 14:38] danhellem commented on #80
@philcart okay, yeah you could fork the code and add some logic to check for specific labels before syncing to ADO.

You may also want to look into GitHub's new discussion feature. It was designed to address your scenario above

[2021-05-28 14:38] #80 closed

[2021-06-08 14:00] danhellem opened #81 "Set stankrank on create so that the new items show at the top of the list"
Would like to see the newly created issue at the top of the list instead of the bottom

[AB#724](https://dev.azure.com/privatepreview/5136ae2e-ad01-4fa4-b7e9-7550b8cdd2c3/_workitems/edit/724)

[2021-06-08 14:16] danhellem opened #83 "Testing"
[AB#727](https://dev.azure.com/privatepreview/5136ae2e-ad01-4fa4-b7e9-7550b8cdd2c3/_workitems/edit/727)

[2021-06-08 14:17] #83 closed

[2021-06-08 14:19] danhellem commented on #81
I solved this by setting stankrank value to 1 on create. It won't work 100% if you have a bunch of issues created around the same time and never looking at them in ADO. Stank Rank field is auto-generated and updated based on backlog activity.

[2021-06-08 14:19] #81 closed

[2021-06-08 22:18] danhellem opened #84 "Add verbose logging setting for easier debugging"
Add logging verbose level and add better logging to help debug issues

[AB#728](https://dev.azure.com/privatepreview/5136ae2e-ad01-4fa4-b7e9-7550b8cdd2c3/_workitems/edit/728)

[2021-06-09 14:16] #84 closed

[2021-06-09 14:25] danhellem opened #87 "Testing 1"
[AB#731](https://dev.azure.com/privatepreview/5136ae2e-ad01-4fa4-b7e9-7550b8cdd2c3/_workitems/edit/731)

[2021-06-09 14:29] #87 closed

[2021-06-09 14:33] danhellem opened #88 "test 3"
[AB#732](https://dev.azure.com/privatepreview/5136ae2e-ad01-4fa4-b7e9-7550b8cdd2c3/_workitems/edit/732)

[2021-06-09 14:44] #88 closed

[2021-06-11 16:36] danhellem opened #92 "BacklogPriority value"
[AB#734](https://dev.azure.com/privatepreview/5136ae2e-ad01-4fa4-b7e9-7550b8cdd2c3/_workitems/edit/734)

[2021-06-11 16:38] #92 closed

[2021-07-09 07:53] matmaly commented on #71
I'm still facing the same issue here. my error message is a bit different though:

[code]

This only happens with new issues, Once the issue is synced it works fine:
![image](https://user-images.githubusercontent.com/15313205/125042658-62aca880-e09a-11eb-9642-68d24bfbde7b.png)

I have write permissions on Github and Read & Write on Work Items on ADO.

Any ideas?

[2021-07-12 07:47] matmaly opened #93 "RequestError [HttpError]: Bad credentials, TypeError: (s || "").replace is not a function"
I'm getting the following error:

[code]

This only happens with new issues, Once the issue is synced it works fine:
![image](https://user-images.githubusercontent.com/15313205/125042658-62aca880-e09a-11eb-9642-68d24bfbde7b.png)

I have write permissions on Github and Read & Write on Work Items on ADO.

This is my config:
[code]

[AB#735](https://dev.azure.com/privatepreview/5136ae2e-ad01-4fa4-b7e

[2021-07-12 18:43] danhellem commented on #93
Most likely one of the following

1) your GitHub token is expired or invalid permissions
2) your ADO token is expired or invalid permissions
3) the org name is not right
4) project name is not right

[2021-07-12 18:43] #93 closed

[2021-07-12 18:43] #17 closed

[2021-08-27 19:13] SudoSpartanDan opened #94 "Add ability to Link to Parent"
# Add the ability to link the work item to a parent optionally.

## Proposed implementation:

https://github.com/danhellem/github-actions-issue-to-work-item/blob/9261a9687dc9701434d25ea1f10ed60bf1b820a3/index.js#L660

[code]

https://github.com/danhellem/github-actions-issue-to-work-item/blob/9261a9687dc9701434d25ea1f10ed60bf1b820a3/index.js#L219

[code]

## Example Usage:

[code]

[2021-08-30 14:34] danhellem commented on #94
Hello @SudoSpartanDan, thanks for the PR. I am curious on why this is needed for you. Every work item created would link to the same parent. Is that what you are trying to do?

[2021-08-30 20:47] SudoSpartanDan commented on #94
We have a particular ADO feature we put all related issues into and then link to the Issue in GitHub manually. Our board required all User Stories to have a parent.

Once the story is placed on the ADO board, if we need to move it to another parent, we can. The original parent acts as a landing spot for these issues.

[2021-08-30 21:23] danhellem commented on #94
Gotcha. I am going to pass on the feature getting integrated into the core action. That is a very specific use case and I have not heard from any one else who wants this.

[2021-08-30 21:23] #94 closed

[2021-10-26 14:59] danhellem opened #96 "Rename branch from master to main"
[AB#6361](https://dev.azure.com/danhellem/56243fe6-2ed4-4398-acde-6a289bc1d89a/_workitems/edit/6361)

[2021-11-01 18:43] mattzech opened #97 "Creating unassigned work item"
Is there any way to have the created User Story be an unassigned story? My team is struggling with this because we do not want to have all of the Github issues be assigned to one user who has their inbox flooded with Azure messages every time there is a new issue in the repo. Just checking to see if there is any way around this. Thanks

[2021-11-02 14:37] danhellem commented on #97
@mattzech you get this figured out?

[2021-11-03 12:39] mattzech commented on #97
Yes, we're working on creating a service account in Azure to get the PAT and use that in the workflow. I'll keep you updated

[2021-12-17 16:13] danhellem commented on #37
@AaronCrawfis FYI, I am going to pick this back up and convert the markdown to HTML so that it renders nicely in the work item form.

[2022-01-05 14:36] mattzech commented on #64
Hi I am having the same issue. PR's are getting synced to Azure when I only want Issues to be synced

[2022-01-05 15:44] danhellem commented on #57
Sorry for the delay. I changed teams and this has been a low priority. Trying to get it done in the next few weeks.

[2022-01-05 16:11] mattzech commented on #64
Looking into it more, it seems like the "issue_comment" is getting triggered when a PR get commented on, which then creates an Issue in Azure of the PR since it cannot find an existing one. Is there a better way to get comments to sync?

[2022-01-14 17:44] danhellem opened #99 "Test Issue One"
# Test issue head

## Test Issue Sub Head

**bold**

_italic_

[AB#5430](https://dev.azure.com/danhellem/56243fe6-2ed4-4398-acde-6a289bc1d89a/_workitems/edit/5430)

[2022-01-14 18:30] danhellem commented on #99
### Comments

- comment 1
- comment 2

[2022-01-14 18:37] danhellem commented on #99
Comment 2

[2022-01-14 18:43] #99 closed

[2022-01-14 18:45] danhellem opened #100 "Test Issue Two"
# Heading One

## Heading Two

**Bold**

*Italic*

[link to google](http://google.com)

1. One
2. Two
3. Three

- [ ] Check 1
- [x] Check 2
- [ ] Check 3

[AB#5431](https://dev.azure.com/danhellem/56243fe6-2ed4-4398-acde-6a289bc1d89a/_workitems/edit/5431)

[2022-01-14 18:46] #100 closed

[2022-01-14 19:02] danhellem opened #101 "Test Issue Three"
### Hello mommy

how are you today yo?

- yes
- no
- maybe

[AB#5432](https://dev.azure.com/danhellem/56243fe6-2ed4-4398-acde-6a289bc1d89a/_workitems/edit/5432)

[2022-01-14 19:03] #101 closed

[2022-01-14 19:27] danhellem commented on #57
Started looking it this as I have been working on other issues. the problem is that `issue_comment` is a separate event with a different payload. Creating isn't too bad. However, editing and updates back to the right work item comment is little bit harder.

Do you think we need to worry about comment edits and reactions? Or just adding the comment but understanding it will get outdated as soon as

[2022-01-14 19:33] danhellem commented on #37
This is resolved in #102. Please take a look at the PR and test it out for feedback

[2022-01-14 19:33] #37 closed

[2022-01-14 19:34] #69 closed

[2022-01-14 19:39] danhellem opened #103 "Updated by is showing the person who created the Issue, not updated."
## Issue description
See issue #57 for example. That issue is created by someone in the community. When doing "GitHub Issue Updated by {user}" it is showing the user of the person who create that issue.

## What is should be doing...

It needs to show the person who updated the issue.

[AB#5437](https://dev.azure.com/danhellem/56243fe6-2ed4-4398-acde-6a289bc1d89a/_workitems/edit/5437)

[2022-01-14 21:41] maxisam commented on #57
I am good with your idea

[2022-01-26 11:58] TomasDyntar opened #105 "Cannot create task for User story when opened from dashboard"
When I open a User story from a dashboard (URL is .../_dashboards/dashboard/_guid_), the button "+ Add link" does nothing.
When I open the User story as such (URL is ../_workitems/edit/_number_), the button "+ Add link" works fine and allows creating a child task.

[AB#5469](https://dev.azure.com/danhellem/56243fe6-2ed4-4398-acde-6a289bc1d89a/_workitems/edit/5469)

[2022-01-28 14:18] danhellem commented on #105
Sorry @TomasDyntar , not sure this has anything to do with this action :(

[2022-01-28 14:18] #105 closed

[2022-03-02 18:31] sixcolors opened #106 "🐛 emoji in labels"
Azure returns `Error: TF401407: The tag name is invalid. It contains invalid characters.` when emoji are in the label.

eg.

[code]

[AB#5841](https://dev.azure.com/danhellem/56243fe6-2ed4-4398-acde-6a289bc1d89a/_workitems/edit/5841)

[2022-03-02 19:52] #106 closed

[2022-05-18 09:47] MaxKless commented on #70
Just want to say that we are also experiencing the same issue.

[2022-06-01 21:41] mgreisen opened #108 "Creating a work item based on the tag"
It would be nice if there was a mapping of tag to work item type to be created.
Along with that, if the tag type changed, the work item type would also need to change.

[2022-06-11 14:21] danhellem commented on #108
Feel free to contribute 😁

[2022-06-11 14:22] danhellem commented on #108
Feel free to contribute 😃

[2022-06-11 14:23] danhellem commented on #70
Yep, per comments above on the cause

[2022-06-28 15:10] SBAurelien opened #110 "Sync Devops Work Items to Github"
Hello,

Your Github Action that synchronizes github output to Devops Work item works great.

I would like to know, if it would be easy for you to do also the reverse. That is to say when I create a Work Item, it creates it on Github. Either by event on Devops, or by a job on Github.

What do you think about it?

AB#6354

[2022-07-06 15:29] danhellem commented on #110
@SBAurelien yeah it can be done, but it requires you to create a custom service that are triggered from web hook events. So it is a little more work.

[2022-07-06 15:34] #110 closed

[2022-09-21 18:37] AaronCrawfis opened #113 "Markdown tables in GitHub not rendered into HTML in ADO"
## GitHub Issue

[code]

## Rendered ADO Issue

![image](https://user-images.githubusercontent.com/54363786/191584164-2aeb315a-1562-436e-ab98-3db3f3abccd4.png)

AB#7520

[2022-09-22 20:23] danhellem commented on #57
Linked to #114

[2022-09-26 16:58] danhellem commented on #113
@AaronCrawfis I am using a 3rd party component that does the rendering. So I am guessing this is just not supported. Unless you want to pick it up and investigate further, i don't expect to try and solve this.

[2022-09-26 17:17] AaronCrawfis commented on #113
Came across this comment: https://github.com/showdownjs/showdown/issues/945#issuecomment-1205375626

Looks like we just need to add `new showdown.Converter({ tables: "true" });` to https://github.com/danhellem/github-actions-issue-to-work-item/blob/master/index.js#L147

Docs here: https://showdownjs.com/docs/available-options/#tables

[2022-09-28 15:38] #113 closed

[2022-10-03 18:18] danhellem commented on #57
Testing web hook

[2022-10-03 18:39] danhellem commented on #57
This is finally done. thanks for your help on this @hvpatil

[2022-10-03 18:39] #57 closed

[2022-11-08 09:39] ken-mellem commented on #70
I am also experiencing the same behavior - I get multiple WIs created for each label I add.

[2022-11-10 17:46] danhellem commented on #70
@ken-mellem  yeah please see notes above :)

[2022-11-14 10:15] mangeshpatiln commented on #57
The issue is reflecting the same name all over in creation of issue as well as updated and commented. The name which it is tacking is the token owner name.

[2022-11-22 10:39] rokeno opened #118 "[Bad credentials] error when creating a new issue"
I have copied your code into my local repo (due to github conenction limitations in my org) and ran the code and i have found that i get a '`Bad credentials`' when the pipeline runs for the very first time.
If the issue has no label, the pipeline runs twice, one run works, the other one failes, but the ones that fails actually creates the issue:
[code]

When the issue has a label, the pipeline run

[2022-11-22 10:41] rokeno commented on #70
When do you think you have time to work on this? I think it's the most troublesome open issue you have and the most important.

[2022-11-22 18:17] danhellem commented on #70
@rokeno I have some time over the holidays to work on it. Feel free to take a look and create a PR if you want to work fix it.

[2022-11-22 18:22] #118 closed

[2022-11-23 06:07] rokeno commented on #118
It's not credentials issue, cause it works and i have seen the items created. I will keep digging. I will also look at the rate limited. Thanks.

[2022-11-23 06:08] rokeno commented on #70
Unf, i don't have the skills to look at the code.... i'm DevOps and don't know jack about java :(
I can work on yaml, but this is not the case.

[2022-11-27 01:25] danhellem commented on #118
@rokeno  ok great. Please let me know if you find the issue is in the code and we can fix.

[2022-11-29 13:09] rokeno commented on #103
I've done some digging, looking into index.js, dunno much about java scripts but i have not seen anything there. Oktokit is the one that triggers an authentication issue => 400
All i could find so far is:
[code]

I don't know what this is: `The+user+%27System%3aPublicAccess%3baaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa%27`

[2022-11-29 13:10] rokeno commented on #118
I've done some digging, looking into index.js, dunno much about java scripts but i have not seen anything there. Oktokit is the one that triggers an authentication issue => 400
All i could find so far is:

[code]
I don't know what this is: `The+user+%27System%3aPublicAccess%3baaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa%27`